<!DOCTYPE html>
<html>
  <h1>Developer Skills</h1>
  <ul>
    <% skills.forEach(skill => { %>
      <li>
        <%= skill.name %> - <%= skill.level %>
        <form action="/skills/<%= skill.id %>?_method=DELETE" method="POST" style="display: inline;">
        <button type="submit">Delete Skill</button>
        </form>
      </li>
    <% }); %>
  </ul>

<a href="/skills/new">Add Skill</a>
</html>
